<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.schugarkub.dataguard">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".DataGuardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataGuard">
        <service
            android:name=".service.NetworkMonitoringService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".DataGuardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.schugarkub.dataguard.view.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notifications.NotificationsDatabaseReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.schugarkub.dataguard.action.NOTIFICATION_SENT" />
                <action android:name="com.schugarkub.dataguard.action.NOTIFICATIONS_DATABASE_CLEAN" />
            </intent-filter>
        </receiver>

        <!-- Debug receivers -->
        <receiver
            android:name=".debug.DebugNetworkUsageDatabaseReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.schugarkub.dataguard.action.CLEAN_NETWORK_USAGE_DATABASE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>